iframe{
    overflow: auto;
    height: 500px;
}
ul{
    list-style-type: none;
    display: flex;
}
ul li a{
    padding: 10px;
    background-color: rgb(54, 51, 51);
    text-decoration: none;
    color: white;
}
ul li a:hover{
    background-color: rgb(41, 40, 40);
}
.proyecto{
    height: auto;
}
.proyecto:hover{
    content: url(Captura\ de\ pantalla\ 2026-01-27\ 141749.png);
}